<h1>Create Your Own Audio PhraseBook with Text to Speech</h1>
<form method="post" action="/">
  <label for="form-text">Compose Text to Convert</label> <br>
  <textarea name="text" id="form-text" cols="30" rows="10" placeholder="Hello. How are you? I'm not from here."
    required></textarea> <br>
  <label for="filename">Filename: </label>
  <input type="text" value="Samplename" name="filename"> <br>
  <input type="submit" value="Create MP3 File" />
  <br>
  <button type="reset">Reset (Clear Field)</button>
</form>